go 1.26.4

use (
	./easy/0083-remove-duplicates-from-sorted-list/go
	./easy/141-linked-list-cycle/go
	./easy/346-moving-average-from-data-stream/go
	./easy/703-kth-largest-element-in-a-stream
	./hard/0004-median-of-two-sorted-arrays/go
	./hard/0239-sliding-window-maximum/go
	./hard/0843-guess-the-word/go
	./medium/0002-add-two-numbers/go
	./medium/0005-longest-palindromic-substring/go
	./medium/0011-container-with-most-water/go
	./medium/0071-simplify-path/go
	./medium/0215-kth-largest-element-in-an-array/go
	./medium/0347-top-k-frequent-elements/go
	./medium/0355-design-twitter/go
	./medium/0735-asteroid-colissions/go
)
